@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  font-family: "Gabarito Variable";

}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.font-gochi {
  font-family: "Gochi Hand" !important;
}